:root {
    --plain-color: #F0F0F0;
    --semi-bright-color: #FFDD44;
    --bright-color: #FFAA22;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    max-width: 80ch;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#date-display {
    display: block;
    width: 100%;
    text-align: center;
    height: 1em;
}

#map {
    display: block;
    width: 100%;
}

#average {
    display: inline-block;
    width: 100%;
}

#options-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em 0;
}

#options-container>.binary-choice {
    --first-line-height: 2em;
    min-height: var(--first-line-height);
    display: grid;
    grid-template: var(--first-line-height) min-content / repeat(2, 1fr) 2ch;
}

#play-button {
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border-radius: 1ch;
    background-color: var(--plain-color);
}

#play-button:hover {
    background-color: var(--bright-color);
}

#start-end-input {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
}

.date-choice {
    display: flex;
    align-items: center;
}

.binary-choice {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
}

.help {
    display: flex;
    align-items: center;
    padding: 0 20%;
}

.help>svg {
    display: block;
    width: 100%;
    height: 100%;
}

.help-content {
    grid-column: 1 / 3;
    padding-inline-start: 4ch;
}

button {
    width: 100%;
    border-width: 0;
    outline-width: 0;
}

.binary-choice>button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--plain-color);
}

.binary-choice>button:first-of-type {
    border-radius: 1ch 0 0 1ch;
}

.binary-choice>button:last-of-type {
    border-radius: 0 1ch 1ch 0;
}

.binary-choice>button:hover {
    cursor: default;
    background-color: var(--bright-color);
}

.binary-choice>button.selected:not(.overshadowed) {
    background-color: var(--bright-color);
}

.binary-choice>button.selected.overshadowed {
    background-color: var(--semi-bright-color);
}

.range-choice {
    display: grid;
    grid-template: 1fr / repeat(2, min-content) 1fr;
}

.range-choice>span, .date-choice>span {
    white-space: pre;
    display: inline-flex;
    align-items: center;
}