:root {
    --plain-color: #F0F0F0;
    --dark-plain-color: #808080;
    --semi-bright-color: #FFDD44;
    --bright-color: #FFAA22;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    max-width: 80ch;
    margin: 0 auto;
    margin-block-end: 4rem;
    cursor: default;
}

@media screen and (max-width: 80ch) {
    body {
        margin: 0 1ch;
    }
}

h1 {
    text-align: center;
}

#date-display {
    display: block;
    width: 100%;
    text-align: center;
    height: 1em;
}

#map {
    display: block;
    width: 100%;
}

#average {
    display: inline-block;
    width: 100%;
}

#options-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em 0;
}

#options-container>.binary-choice {
    --first-line-height: 2em;
    min-height: var(--first-line-height);
    display: grid;
    grid-template: var(--first-line-height) min-content / repeat(2, 1fr) 2ch;
}

#start-stop {
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border-radius: 1ch;
    background-color: var(--plain-color);
    --start-hover: hsl(70, 100%, 60%);
    --stop-hover: hsl(20, 100%, 60%);
}

#start-stop.started:hover {
    background-color: var(--stop-hover);
}

#start-stop.stopped:hover {
    background-color: var(--start-hover);
}

#period-input {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
}

.date-choice {
    display: flex;
    align-items: center;
}

.binary-choice {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
}

.help {
    display: flex;
    align-items: center;
    padding: 0 20%;
}

.help>svg {
    display: block;
    width: 100%;
    height: 100%;
}

.help-content {
    grid-column: 1 / 3;
    padding-inline-start: 4ch;
}

button {
    width: 100%;
    border-width: 0;
    outline-width: 0;
}

.binary-choice>button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--plain-color);
}

.binary-choice>button:first-of-type {
    border-radius: 1ch 0 0 1ch;
}

.binary-choice>button:last-of-type {
    border-radius: 0 1ch 1ch 0;
}

.binary-choice>button:hover:not(.disabled) {
    cursor: pointer;
    background-color: var(--bright-color);
}

.binary-choice>button.selected:not(.overshadowed):not(.disabled) {
    background-color: var(--bright-color);
}

.binary-choice>button.selected.overshadowed:not(.disabled) {
    background-color: var(--semi-bright-color);
}

.binary-choice>button.selected.disabled {
    background-color: var(--dark-plain-color);
}

.range-choice {
    display: grid;
    grid-template: 1fr / repeat(2, min-content) 1fr;
}

.range-choice>span, .date-choice>span {
    white-space: pre;
    display: inline-flex;
    align-items: center;
}

.range-choice>.input-wrapper {
    border-radius: 1rem;
    padding: 0 1ch;
    display: flex;
    align-items: center;
}

.range-choice>.input-wrapper.disabled {
    background-color: var(--plain-color);
}

.range-choice>.input-wrapper>input {
    width: 100%;
}

#attribution {
    margin-block-start: 2rem;
    text-align: center;
}